#qwitter-block {
	z-index: 9999999999999999;
	position: fixed;
	left: 0px;
	top: 0px;
	height: 100%;
	width: 100%;
	background-color: #333;
}

#qwitter-progress-bar {
  width: 300px;
  background-color: rgba(0,0,0,0.3);
  border: 1px solid rgba(255,255,255,0.7);
  border-radius: 8px;
  margin:auto;
  margin-top: 56px;
  overflow: hidden;
}

#qwitter-progress {
  width: 1%;
  height: 12px;
  background-color: #4285f4;
}

#qwitter-quote-text {
	color: white;
	font-family: Georgia;
	font-size: 2em;
	text-align: center;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 14%;
}

#qwitter-quote-author {
	color:white;
	text-align: center;
	font-style: italic;
	padding-top: 40px;
	font-size: 1.4em;
	font-family: Georgia;
}

#qwitter-btn-div {
	margin:auto;
	text-align: center;
	margin-top: 40px;
}

#qwitter-quit-btn {
	display:block;
	font-size: 1.3em;
	padding: 8px;
	margin:auto;
	background-color: #4d180e;
	color: white;
	border: 1px solid white;
}

#qwitter-continue-btn {
	display:block;
	margin: auto;
	font-size: 1em;
	padding: 5px;
	margin-top: 20px;
	background-color: #555;
	color: #222;
	border: none;

}


#qwitter-block header{
	width:100%;
	height:56px;
	display:flex;
	align-items:center;
	color: white;
	font-size:25px;
	padding: 0 16px;
}